<h2>Bienvenue {{ user?.prenom }}</h2>
<br />
<div class="mb-3">
  <a [routerLink]="['/saisie',user.id]">Saisir un voyage</a>
</div>
<br />
<div class="mb-3">
  <a [routerLink]="['/historique',user.id]">Voir votre historique</a>
</div>

<div class="mb-3">
  
  <table class="table-utilisateurs">
    <tbody>
      <tr>
        <td>Rôle(s)</td>
        <td>{{rolesUser}}</td>
      </tr>
      <tr *ngFor="let voiture of voituresUser">
        <td>voiture</td>
        <td>Modèle : {{voiture.modele | titlecase}}; Energie : {{voiture.energie | titlecase}}; Marque : {{voiture.marque_libelle | titlecase}}; </td>
      </tr>
    </tbody>
  </table>
</div>

<form #profilForm="ngForm" class="centeredForm" (ngSubmit)="submit()" novalidate>

  <h3>Sélectionnez votre/vos rôle(s)</h3>
  <label>Passager</label><input type="checkbox" [(ngModel)]="isPassager" name="passager">
  <label>Chauffeur</label><input type="checkbox" [(ngModel)]="isChauffeur" name="chauffeur">

  <div *ngIf="isChauffeur">
    <h3>Informations sur le véhicule</h3>
    <label>
      Modèle : <input name="modele" placeholder="Modèle" [(ngModel)]="voiture.modele" required>
    </label>
    <br />
    <br />
    <label>
      Immatriculation : <input name="Immatriculation" placeholder="Immatriculation" [(ngModel)]="voiture.immatriculation" required>
    </label>
    <br />
    <br />
    <label>
      Énergie :
      <select [(ngModel)]="voiture.energie" name="energie" required>
        <option *ngFor="let e of energies" [value]="e">{{ e }}</option>
      </select>
    </label>

    <br />
    <br />
    <label>
      Couleur : <input name="Couleur" placeholder="Couleur" [(ngModel)]="voiture.couleur" required>
    </label>
    <br />
    <br />
    <label>
      Date de 1ère immatriculation : <input type="date" name="premiere_immatriculation" placeholder="Date de 1ère immatriculation" [(ngModel)]="voiture.date_premiere_immatriculation" required>
    </label>
    <br />
    <br />
    <label>
      Marque existante :
      <select name="marque_existant" [(ngModel)]="voiture.marque_id" [disabled]="nouvelleMarqueActive">
        <option *ngFor="let marque of marque_existant" [value]="marque.id">{{ marque.libelle }}</option>
      </select>
    </label>
    <br />

    <label>
      Ajouter une nouvelle marque <input type="checkbox" [(ngModel)]="nouvelleMarqueActive" name="nouvelle_marque_act">
    </label>
    <br />

    <div *ngIf="nouvelleMarqueActive">
      <input name="Nouvelle_marque" type="text" placeholder="Nouvelle marque" [(ngModel)]="nouvelleMarqueLibelle" required />
    </div>

    <br />
    <label>
      Nombre de places : <input name="nb_place" placeholder="Nombre de places" [(ngModel)]="voiture.nb_place" type="number" min="1" required #nbPlaceCtrl="ngModel">
    </label>
    <div *ngIf="nbPlaceCtrl.invalid && nbPlaceCtrl.touched" style="color:red">
      <span *ngIf="nbPlaceCtrl.errors?.['required']">Le nombre de places est requis.</span>
      <span *ngIf="nbPlaceCtrl.errors?.['min']">Le nombre minimum est 1.</span>
    </div>

    <h4>Préférences</h4>
    <label>Fumeurs acceptés</label><input type="checkbox" [(ngModel)]="voiture.preference.fumeur" name="fumeur">
    <br />
    <label>Animaux acceptés</label><input type="checkbox" [(ngModel)]="voiture.preference.animal" name="animal">
    <br />
    <input placeholder="Autres préférences" [(ngModel)]="voiture.preference.autre" name="autre">
  </div>

  <br />
  <br />
  <button type="submit" [disabled]="profilForm.invalid">Valider</button>
</form>
