<body>
  <header id="app-header" class="navbar">
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <img class="nav-logo" src="logo-ecodrive.png" />
        <!--<span class="nav-logo-label">EcoDrive</span>-->
      </a>
      <a class="link" routerLink="/accueil">Retour à la page d'accueil</a>
      <a class="link" routerLink="/itineraireform">Accès aux covoiturage</a>
      <a class="link" routerLink="">Contact</a>
      <button class="connexion" routerLink="">Connexion</button>
      <button class="connexion" routerLink="/inscription">Enregistrement</button>
    </nav>
  </header>


  <main>
    <router-outlet></router-outlet>
  </main>

</body>
