<body>
  <header id="app-header" class="navbar">
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <img class="nav-logo" src="logo-ecodrive.png" />
      </a>
      <a class="link" routerLink="/accueil">Retour à la page d'accueil</a>
      <a class="link" routerLink="/itineraireform">Accès aux covoiturage</a>
      <a class="link" routerLink="">Contact</a>

      <!-- Si connecté -->
      <ng-container *ngIf="authService.isLoggedIn; else notLoggedIn">

        <!-- Si l'utilisateur est employé -->
        <ng-container *ngIf="authService.isEmploye; else utilisateurContent">
          <button class="connexion" (click)="logout()">Déconnexion</button>
          <a class="link" routerLink="/employe">Espace employé</a>
        </ng-container>

        <!-- Si l'utilisateur est un utilisateur classique -->
        <ng-template #utilisateurContent>
          <button class="connexion" (click)="logout()">Déconnexion</button>
          <a class="link" routerLink="/profil">Espace utilisateur</a>
        </ng-template>

      </ng-container>

      <!-- Si pas connecté -->
      <ng-template #notLoggedIn>
        <button class="connexion" routerLink="/login">Connexion</button>
        <button class="connexion" routerLink="/inscription">Enregistrement</button>
      </ng-template>

    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

</body>
