<body>

  <main>
    <br />
    <br />
    <br />

    <div class="presentation" style="background-color:lightgreen">
      <img class="image" src="img-ecodrive-accueil.png" style="height:auto;width:60px" />
      <a class="text">Chez EcoRide, nous croyons qu’il est temps de repenser nos déplacements. Nous avons créé une plateforme de covoiturage conçue pour réduire l’impact environnemental de la mobilité tout en facilitant les trajets du quotidien. Notre priorité : faire rimer écologie, simplicité et économies.</a>
      <img class="image" src="img2-ecodrive-accueil.png" style="height:auto;width:60px" />
      <a class="text">Sécurité, transparence et convivialité sont les piliers de notre service. Notes, préférences, historique : tout est pensé pour créer une expérience fluide, agréable et sécurisante à chaque covoiturage.</a>
    </div>

  </main>

</body>
