<div class="accueil-container">
  <section class="presentation">
    <h1>Bienvenue sur EcoRide</h1>
    <p>
      EcoRide est une entreprise innovante de covoiturage qui a pour mission de réduire l’empreinte carbone en facilitant les trajets partagés entre collègues, amis ou membres d’une même communauté.
    </p>
    <p>
      Nous croyons en une mobilité plus durable, plus économique et plus conviviale.
    </p>

    <div class="images">
      <img src="img2-ecodrive-accueil.png" alt="Covoiturage entre collègues" />
      <img src="img-ecodrive-accueil.png" alt="Trajets écologiques" />
    </div>
  </section>


  <app-itineraireform></app-itineraireform>
</div>

<footer class="footer">
  <p>Contact : <a href="mailto:contact@ecoride.fr">contact&#64;ecoride.fr</a></p>
  <p><a routerLink="/mentions-legales">Mentions légales</a></p>
</footer>
